<% title = 'Password Reset' %>
<p>Hello, <%= name %>!</p>
<p>Please reset your password  by clicking the link below:</p>
<p class="button">
    <a href="<%= link %>" class="btn">Reset Password</a>
</p>
<p>If the link does not work, please copy it below</p>
<p><a href="<%= link %>"><%= link %></a></p>
<p>Link expires in <%= expiry %> </p>
<p>If you did not request this action, please ignore this email.</p>
<p>Thank you,<br><%= app_name %></p>

